@import url('https://fonts.googleapis.com/css?family=Carter+One');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 768px) {
  * {
    font-size: 17px;
  }
}


/* body {
  font-family: 'Josefin Sans', cursive;
} */

/* added by myself? */
.App {
  /* text-align: center; */
  min-height: 100vmin;
  color: white;
  background-color: rgb(0, 0, 0);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.dark {
  /* background-color: #333; */
  background-color: #2e2e2e;
  color: #fff;
}

.light {
  /* background-color: #ffeaf7; */
  background-color: rgb(236, 189, 196);
  color: #000000 !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}